apiVersion: v1
kind: ConfigMap
metadata:
  name: todo-api
  namespace: todo
data: 
  application.yaml: |
    spring:
      datasource:
        url: jdbc:mysql://mysql.middleware:3306/todolist?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
        username: todouser
        driver-class-name: com.mysql.cj.jdbc.Driver

      jpa:
        show-sql: true
        generate-ddl: false
        database: mysql
        database-platform: org.hibernate.dialect.MySQLDialect
        hibernate:
          naming:
            physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

    cors:
      origins: "*"
      maxAge: 3600
    test: 
      data: configmap